div.combo-focused .input-group {
  border: 1px solid red;
}

.combobox-mobile-dialog .header {
  background-color: blue;
  height: 10px;
}

.combobox-mobile-dialog .footer {
  background-color: red;
}

.combobox-mobile-dialog .intput-filter {}

.fixed-positioned-dropdown {
  position: fixed;
  top: 100px;
  right: 200px;
  border: 2px solid black;
  width: 200px;
  height: 200px;
  transform: translate(50%, 50%);
}

.fixed-positioned-dropdown .dropdown{
  background-color: red;
}

.advanced-combo-box.empty-selection input{
  color: grey;
}
