<div class="input-group">

  {{input class="combo-input" value=inputValue}}
  <i class="fa fa-chevron-down dropdown-icon" aria-hidden="true" {{action 'actionDropdownButton'}}></i>
  </div>
  <ul class="dropdown dropdown-hidden">
    {{#each valueList as |value|}}
      <li class="dropdown-item" {{action 'actionItemSelect' value bubbles=false}}>
        {{get value itemLabel}}
      </li>
    {{/each}}
  </ul>
